<h2> Food list</h2>

<div class="food">
    <button>
      <a routerLink="create-food" routerLinkActive="active" class="nav-link"
        >Add Food</a>
    </button>
</div>

<table class = "table table-striped table-light">
    <thead>
        <tr>
            <th>Image</th>
            <th> Name </th>
            <th> Description</th>
            <th> Price </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let food of foods" >
            <td><img class="food-img" src="{{food.image}}" alt="{{food.item}}"></td>
            <td> {{ food.item }} </td>
            <td> {{ food.description }} </td>
            <td> {{ food.price }} </td>
            <td>
                <button (click) = "updateFood(food.id)" class = "btn btn-outline-primary"> Update</button>
                <button (click) = "deleteFood(food.id)" class = "btn btn-outline-danger" style="margin-left: 10px"> Delete</button>
                <!-- <button (click) = "foodDetails(food.id)" class = "btn btn-outline-warning" style="margin-left: 10px"> View</button> -->
            </td>
        </tr>
    </tbody>
</table>