
<div id="mainNavigation">
  <nav role="navigation">
    <div class="py-3 text-center">
      <img src="https://i.imgur.com/uWiKHoh.png" class="logo"
      >
    </div>
  </nav>
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center my-2">
      <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
      </button>
    </div>
    <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active"  aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="food-list" routerLinkActive="active" class="nav-link" >Order Now!</a>
        </li>
        <li class="nav-item">
          <a routerLink="admin-page" routerLinkActive="active" class="nav-link" >Admin Page</a>
        </li>
        
        <li class="nav-item">

          <a routerLink="add-cart" routerLinkActive="active" class="nav-link" >Shopping Cart</a>

        </li>
      </ul>
    </div>
  </div>
</div>

<div class = "container">
  <router-outlet></router-outlet>
</div>


<!-- <footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2022 @Yummy Tummy</span>
  </div>
</footer> -->




