@import "~bootstrap/dist/css/bootstrap.min.css";


.admin-menu{
  margin-top: 5%;
}



body{
  background-image: linear-gradient(to bottom right, rgb(251 149 83), antiquewhite, rgb(251 149 83));

}



.food-container{
  margin-top: 12%;
}

.drinks-container{
  margin-top: 12%;
}

